/* Basic styling for the game */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://i.pinimg.com/736x/e3/a4/48/e3a4482bff09d997f675af868e43ff2b.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden; /* Prevent scrolling */
}

h1 {
    margin-top: 20px;
    color: white;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(6, 90px);
    gap: 10px;
    justify-content: center;
    margin: 50px auto;
    position: relative;
    overflow: hidden; /* Hide fruits overflowing */
}

.tile {
    width: 90px;
    height: 90px;
    background-image: url('./PNGFILE/TILE.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2; /* Make sure tiles are above fruits */
}

.tile:active {
    transform: scale(0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.tile.revealed {
    background-color: #f5faf6;
    cursor: default;
    background-image: none;
}

.tile.matched {
    background-color: #90ee90;
    cursor: default;
    background-image: none;
}
